# vusbf qemu-config file 
#


# QEMU BINARAY
qemu_bin:	/home/sergej/qemu/x86_64-softmmu/qemu-system-x86_64

# KVM SUPPORT
kvm:		yes

# MEMORY SIZE (MB)
memory:		150	

# RAM FILE
ram_file:	/home/sergej/workspace/kernel-3.15.0/ram.qcow2

# OVERLAY FILE
overlay_file:	/home/sergej/workspace/kernel-3.15.0/overlay.qcow2

# OVERLAY FOLDER
overlay_folder:	/home/sergej/workspace/kernel-3.15.0
	
# USB DEVICE TYPE
device_type:	nec-usb-xhci

# EXTRA QEMU PARAMETER
qemu_extra:	""

# SNAPSHOT
snapshot:	replay2
