# vusbf qemu-config file 
#


# QEMU BINARAY
qemu_bin:	/home/sergej/qemu/x86_64-softmmu/qemu-system-x86_64

# KVM SUPPORT
kvm:		yes

# MEMORY SIZE (MB)
memory:		120

# RAM FILE
ram_file:	/home/sergej/workspace/FreeBSD-10.1/ram.qcow2

# OVERLAY FILE
overlay_file:	/home/sergej/workspace/FreeBSD-10.1/overlay.qcow2

# OVERLAY FOLDER
overlay_folder:	/home/sergej/workspace/FreeBSD-10.1
	
# USB DEVICE TYPE
device_type:	ich9-usb-ehci1


# EXTRA QEMU PARAMETER
qemu_extra:	""

# SNAPSHOT
snapshot:	replay
